modules = ["nodejs-20"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BGro3sD4AzjdXHnQnsopskZaiSWoN6HA-NvzygEC6GrVVWtZJTbIHUWSXtUXZlnieiLRZtHnFYN8QOONbWdewHU"
VAPID_PRIVATE_KEY = "wV2z-QiX0cp0by048MfmWfkTVqtXri1qUN5D5moXLi8"
VAPID_EMAIL = "mailto:admin@meralakshya.app"
